/* nav */
.nav {
    width: 180px;
    height: 100%;
    overflow: hidden;
    background: #5E8DC5;
    transition: all .3s;
    position: absolute;
    top: 50px;
    left: 0;
}
.nav a {
    display: block;
    overflow: hidden;
    /*padding-left: 20px;*/
    line-height: 46px;
    max-height: 46px;
    color: #F7F6FC;
    transition: all .3s;
}

.nav a span {
    margin-left: 30px;
}

.nav-item {
    position: relative;
}

.nav-item.nav-show {
    border-bottom: none;
}

.nav-item ul {
    display: none;
    background: rgba(0, 0, 0, .1);
}

.nav-item.nav-show ul {
    display: block;
}

.nav-item > a:before {
    content: "";
    position: absolute;
    left: 0px;
    width: 2px;
    height: 46px;
    background: #34A0CE;
    opacity: 0;
    transition: all .3s;
}
.nav-item >ul>li>a>span{
    padding-left: 5px;
    font-size: 16px;
}

.nav .nav-icon {
    font-size: 20px;
    position: absolute;
    margin-left: -1px;
}
.nav .nav-more {
    position: absolute;
    right: 10px;
}

.nav-show, .nav-item > a:hover {
    color: #FFF;
    background: rgba(0, 0, 0, .1);
    text-decoration: none;
}

.nav-show > a:before, .nav-item > a:hover:before {
    opacity: 1;
}

.nav-item li:hover a {
    color: #FFF;
    background: rgba(0, 0, 0, .1);
    text-decoration: none;
}

/*设置头部样式*/
#header{
    height: 50px;
    width: 100%;
    background-color: #608FC7;
}
/*设置公司名称信息样式*/
#header>.head{
    line-height: 50px;
    width: 85%;
    padding-left: 20px;
    padding-right: 20px;

    border-right: 1px solid #3C5269;
    float: left;
}
#header>.head>h3{
     font-size: 24px;
    margin-top: 15px;
     color: #FFFFFF;
     float: left;
 }
#header>.head>p{
    font-size: 20px;
    color: #FFFFFF;
    float: right;
}
/*设置账号名称样式*/
#header>.name{
    width: 10%;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
    text-align: center;
    border-left:1px solid #6B9CD7;
    border-right:1px solid #3C526A;
    float: left;
}
/*设置退出按钮的样式*/
#header>.quit{
    width: 5%;
    line-height: 50px;
    border-right: 1px solid #6C9DD8;
    text-align: center;
    float: left;
}
#header>.quit>.icon-off{
    font-size: 30px;
    color: #FEFEFE;
    background-color: #608FC7;
}
#header>.quit>.icon-off::before{
    background-color: #608FC7;
}
#qu{
    background-color: #608FC7;
}
/*设置版心的样式*/
.banner{
    width: 87%;
    height: 100%;
    margin-left: 180px;
    background-color: #F9FAFC;
    position: absolute;
    top: 50px;
    left: 0;
}
.banner>.content{
    margin:10px 10px 0 10px;
    background-color: #FFFFFF;
    border: 1px solid #F1F5F8;
}
.banner>.content>.container>.row>.search{
    margin-top: 10px;
}
.banner>.content>.container>.row>.search>div{
    padding-top: 10px;
}
.banner>.content>.container>.row>.search>div>span{
    margin-left: 10px;
    font-size: 14px;
    color: #333333;
}
.banner>.content>.container>.row>.search>div>input{
    border: 1px solid #D9D9D9;
    margin-left: 15px;
}
.banner>.content>.container>.row>.search>.down{
    margin-bottom: 15px;
}
.banner>.content>.container>.row>.search>div>button{
    padding: 2px 15px;
}
/*设置内容表格的样式*/
.banner>.content>.tables{
    font-size: 12px;
    color: #494949;
    text-align: center;
    margin-top:10px;
    padding-left: 15px;
    padding-right: 15px;
}
.banner>.content>.tables table{
    width: 100%;

}
.banner>.content>.tables>table>thead>tr>th{
    padding:10px 10px;
    white-space:nowrap;
    background-color: #F5F5F5;
}
.banner>.content>.tables>table>tbody>tr>td{
    padding:20px 10px;
}
.banner>.content>.tables>table>tbody>tr:nth-child(even){
    background-color: #F5F5F5;
}
/*设置页数的样式*/
.banner>.content>.pages{
    text-align: center;
    font-size: 14px;
    color: #989898;
    margin-top: 45px;
    height: 35px;
}
.banner>.content>.pages div{
    display: inline-block;
    height: 25px;
}
.banner>.content>.pages>.pageA{
    width: 500px;
    line-height: 35px;
    padding-left: 30px;
}
.banner>.content>.pages>.pageA>table{
    width:100%;
    height:28px;
    border-color: #DCDCDC;

}
.banner>.content>.pages>.pageA>table>thead>tr{
    border-radius: 3px;
}
.banner>.content>.pages>.pageA>table>thead>tr>th{
    text-align: center;
}
.pageB>th>a{
    color: #6D96D6;
    text-decoration: none;
}
